.container {
  width: 100vw;
  height: 100vh;
  background-color: #edfff9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h2,
.container p {
  margin: 0 0 16px 0px;
  font-family: sans-serif;
  color: #333333;
}

.container h2 {
  font-size: 32px;
}

.container p {
  font-size: 24px;
}

.container button {
  outline: 0;
  border: 0;
  padding: 8px 16px;
  background-color: #00cf8a;
  color: #ffffff;
  margin-left: 8px;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;

  box-shadow: unset;
  transition: box-shadow 0.8s;
}

.container button:hover {
  box-shadow: 2px 2px 2px 0px #888888;
  transition: box-shadow 0.8s;
}
